
@*@{
    ViewBag.Title = "ViewAuditRecords";
}*@

<h2>Audit Trail</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Audit Trail</title>
    <style type="text/css">
        th {
            padding-right: 20px;
        }
    </style>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-body">
            <div style="nav-index:auto">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>IP Address</th>
                            <th>Username</th>
                            <th>URL Accessed</th>
                            <th>Action Date</th>

                        </tr>
                        @foreach (Web.Models.Audit item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IPAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UrlAccessed)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TimeAccessed)
                                </td>

                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
