@model Web.Models.ViewModels.Financials.AddAccountViewModel
@using Web.Models;
@{
    ViewBag.Title = "Add Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Account</h2>

@using (Html.BeginForm())
{

    <div class="panel panel-default panel-body ">
        @*<div class="form-group">
            <label class="col-md-4 control-label">Account Code</label>
            <input type="text" name="AccountCode" />
           
        </div>*@
        <div class="form-group">
            <label class="col-md-4 control-label">Account Category</label>
            <input type="text" name="AccountName" />
            @*@Html.TextBoxFor(m => m.AccountName)*@
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Account Class</label>
          
            @Html.DropDownListFor(m => m.AccountClass, ListHelper.GetAccountClassList(),"Please Select an Account Type...")
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Description</label>
            @Html.TextAreaFor(m=>m.Description)
          
        </div>
       
        <div>
            <input type="submit" value="Create" name="Create" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Accounts")
</div>
